.btn-primary:hover,
.btn-primary:focus {
  background-color: lightskyblue;
}

.btn-primary {
  border-radius: 0;
  color: black;
  background-color: lightgrey;
}

.form-check-input:checked {
  background-color: lightskyblue;
  color: lightskyblue;
}

.btn {
  width: 150px;
  height: 50px;
}

.newBtn {
  text-align: center;
}
