<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title> Error page</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body style="background-image:url(https://i.giphy.com/media/irnpGi1rexW8GvUACk/giphy.webp);
background-size: cover;font-family: 'Comic Sans MS', arial, serif;">
<h1 style="text-align: center; font-size: 48px;margin-top: 60px; margin-left: 200px "> Sorry, you can't share the private note</h1>

</body>
</html>