<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <title th:utext="${title}"></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body style="background-image:url(https://thumbs.dreamstime.com/b/%D0%BF%D1%80%D0%B8%D0%BC%D0%B5%D1%87%D0%B0%D0%BD%D0%B8%D1%8F-%D1%81%D0%BE%D0%BE%D0%B1%D1%89%D0%B5%D0%BD%D0%B8%D1%8F-%D0%B7%D1%80%D0%B5%D0%BD%D0%B8%D1%8F-%D0%BF%D0%BE%D0%BB%D0%B5%D1%82%D0%B0-%D0%BB%D0%B8%D0%BF%D0%BA%D0%B8%D0%B5-109773277.jpg);
background-size: cover">
<div sec:authorize="hasAuthority('ADMIN')">
    <form th:action="@{/user/listUsers}" method="GET">
    </form>
</div>
<div style="text-align: center">
    <h1><span th:utext="${message}"></span></h1>
    <a th:href="@{/logout}" style="position: fixed; top: 0;right: 0;">
    <button class="btn btn-lg btn-warning" type="submit">LOG OUT </button></a>
   </div>
<div class="table" style=" border: 10px black; border-collapse: collapse; background: beige;">
    <table border="3" align="center">
        <thead style="border: black 20px">
        <tr align="center" th:border="3" style="border: black">
            <th th:border="3" style="border: black" > ID</th>
            <th th:border="3" style="border: black">Username</th>
            <th th:border="3" style="border: black"> Password</th>
            <th th:border="3" style="border: black"> Role</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td><span th:text="${user.getId()}"> ID </span></td>
            <td><span th:text="${user.getUserName()}"> Username </span></td>
            <td><span th:text="${user.getPassword()}"> Password </span></td>
            <td><span th:text="${user.getUserRole()}"> Role </span></td>
            <td align="center">
                <a th:href="@{/user/delete_user(id=${user.getId()})}" class="btn btn-danger">Delete</a>
            </td>
                 </tr>
    </table>
</div>
</body>
</html>