<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:utext="${title}"></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body style="padding-left: 15px;padding-right: 20px; background-image:url(https://i.pinimg.com/originals/cb/6f/89/cb6f89d56ee15c67d9e782f9473dd865.png);
background-size: cover;font-family: 'Comic Sans MS', arial, serif;">
<div class="container">

    <form action="/j_spring_security_check" method="POST">
        <h2 style="text-align: center; margin-top: 50px"><span  th:utext="${message}"></span></h2>
        <div class="card-body" style="text-align: center">
            <div>
                <input type="text" class="form-control form-control-sm" name="userName" placeholder="Enter your username"
                       th:required="require"  style=" max-width: 300px; padding: 10px; margin: 0 auto">
            </div>
            <div class="pt-3" style="text-align: center">

                <input class="form-control form-control-sm" type="password" name="password" placeholder="Enter your password"
                       th:required="required"   style=" max-width: 300px; padding: 10px; margin: auto"/>
            </div>

            <button class="btn btn-lg btn-primary" type="submit" style="margin-top: 15px">LOG IN</button>
        </div>
        <h5 class="text-center"><a th:href="@{/noteUser/register}" class="btn btn-lg btn-primary">Create account</a>
            <td th:text="${error} ? 'Wrong login or password. Please, try again.' : ''"></td>
        </h5>
    </form>
</div>
</body>
</html>