
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title th:utext="${title}"></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body style="background-image:url(https://i.pinimg.com/originals/cb/6f/89/cb6f89d56ee15c67d9e782f9473dd865.png);
background-size: cover; font-family: 'Comic Sans MS', arial, serif;">
<h1 style="text-align: center; margin-top: 70px"> <span th:utext="${message}"></span></h1>
<h2 style="text-align: center; margin-top: 50px; margin-right: 50px;
    margin-bottom: 70px; margin-left: 50px;">To create note tab the 'create' button.<br>
    To watch the list note,<br>tap the 'note list'.
    <a th:href="@{/logout}" class="btn-lg btn-warning" style="position: absolute; top: 5px; right: 5px;"> LOG OUT</a>
    <br>
    <a th:href="@{/note/createNote}" style="position: center;" class="btn-lg btn-primary">Create Note</a>

    <a th:href="@{/note/listNotes}" style="position: center;right: 5px" class="btn-lg btn-primary">Note list</a>
</h2>
</body>
</html>